.Thing {
  margin: 10em auto;
  padding: 1em;
  background-color: green; // #da4f49;
  width: 17em;
  transition: 1s;

  &:hover {
    transform: rotate(180deg);
  }

  .Thing-head {
    color: white;
    font-size: 4em;
  }

  .Thing-head--awesome {
    color: purple;
  }
}
