.Thing {
  margin: 5em auto;
  padding: 5em;
  background-color: red;
  width: 25em;
  transition: 1s;

  &:hover {
    transform: rotate(180deg);
  }

  .Thing-head {
    color: blue;
  }

  .Thing-head--awesome {
    color: purple;
  }
}
